<div>
    <div class="content-section implementation p-fluid">
        <div class="card">
            <h5>Title: {{title}}</h5>
            <app-editor [body]="body" [readonly]="true"></app-editor>
        </div>
    </div>
</div>

<p-dialog *ngIf="password" [(visible)]="display" [dismissableMask]="true" [closable]="false" [maximizable]="true" [modal]="true" [header]="header" [style]="{width: '100%',height:'100%'}">
    <div class="p-inputgroup">
        <input [(ngModel)]="isPassword" type="password" pInputText placeholder="Password">
        <button type="button" pButton pRipple label="Check" (click)="itsPassword()"></button>
    </div>
</p-dialog>