<div>
    <div class="p-fluid grid">
        <div class="field col-20 md:col-4">
            <span class="p-field">
                <label for="inputtext">Title</label>
                <input type="text" id="inputtext" pInputText [(ngModel)]="title"> 
            </span>
        </div>
        <div class="field col-20 md:col-4">
            <span class="p-field">
                <label for="textarea">Textarea</label>
                <p-editor [(ngModel)]="textarea" [style]="{'height':'150px'}"></p-editor>
            </span>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <input [(ngModel)]="password" type="password" pInputText placeholder="Password">         
                    <button type="button" pButton pRipple label="Submit" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Header" [(visible)]="display" [header]="''" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">
        <p>{{dialogString}}</p>
    </ng-template>
</p-dialog>